
/* home header*/

  .topSpace {
      padding-top: 100px;
  }

  .leftSpace {
    /*margin-left: 100px;*/
  }

  .pageHeader {
  }

  .pageHeader a {
      color: rgb(244, 244, 236);
  }

  .pageHeader a:hover {
     color: #aaa;
  }

  .pageTitle {
      font-family: Helvetica, sans-serif;
      /*text-transform: lowercase;*/
      display: block;
      font-size: 70px;
      line-height: 35px;
      font-weight: bold;
      letter-spacing: -2px;
      text-align: center;
  }

  .pageTitle a {
      font-family: inherit;
      text-transform: inherit;
      font-weight: inherit;
  }

  .pageSubtitle {
      animation: fadein 1s;
      font-family: Helvetica, sans-serif;
      color: rgb(244, 244, 236);
      font-size: 15px;
      line-height: 15px;
      display: block;
      font-weight: bold;
      margin-top: 10px;
      margin-bottom: 22px;
  }

  .pageSubtitle::before {
     /*content: 'A Programming Language';*/
  }

  @media only screen and (max-width: 720px) {
    .pageTitle {
      font-size: 60px;
      line-height: 30px;
    }

    .pageSubtitle {
      font-size: 15px;
      line-height: 15px;
      margin-top: 10px;
    }

    .topSpace {
        padding-top: 50px;
    }

      .leftSpace {
        margin-left: 50px;
      }
  }

  @media only screen and (max-width: 475px) {
    .pageTitle {
      font-size: 50px;
      line-height: 25px;
    }

    .pageSubtitle {
      font-size: 15px;
        line-height: 15px;
    }

      .topSpace {
          padding-top: 30px;
      }

      .leftSpace {
          margin-left: 30px;
      }
  }

  @media only screen and (max-width: 320px) {
    .pageTitle {
        font-size: 32px;
      line-height: 16px;
    }

    .pageSubtitle {
        font-size: 14px;
        line-height: 10px;
    }

      .topSpace {
          padding-top: 30px;
      }

      .leftSpace {
          padding-left: 20px;
      }
  }

  /* --- fade in --- */


  @keyframes fadein {
      0% {
          opacity:0;
      }
      100% {
          opacity:1;
      }
  }

  @keyframes fadeinDelayed {
      0% {
          opacity:0;
      }
      20% {
          opacity:0;
      }
      100% {
          opacity:1;
      }
  }

  /*home html*/
  html, body {
    height: 100%;
    width: auto;
    height: auto;
  }

  html {
    color: #f4f4ec;
    font-family: "Helvetica", sans-serif;
    -webkit-font-smoothing: antialiased;
  }

  body {
    background: #191919;
    font-size: 15px;
    line-height: 1.4667;
    margin: 20px;
  }

  /* links */

  a:link,
  a:visited {
    color: #565553;
    text-decoration: none;
    transition: background-color .15s linear, color .15s linear;
  }

  a:hover {
      color: #3c3c3b;
  }

  /* fonts */

  h1 {
    font-size: 80px;
    line-height: 1;
    margin: 0;
  }

  h2,
  .large-type {
    font-size: 70px;
    font-weight: bold;
    letter-spacing: -2px;
    line-height: 1;
    margin: 0;
  }

  h3 {
    font-size: 70px;
    font-weight: bold;
    letter-spacing: -2px;
    line-height: 1;
    margin: 0;
    color: #888;
  }

  h2 a:link,
  h2 a:visited
  { color: #f4f4ec;
      }

  h2 a:hover,
  h2 a:active {
    background: transparent none;
    color: #888;
  }

  h2 a.active:link,
  h2 a.active:visited,
  h2 a.active:hover,
  h2 a.active:active {
    background: transparent none;
    color: #3c3c3b;
  }

  .container {
    padding: 82px 74px;
    position: relative;
    width: auto;
  }

  .navigation {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  @media only screen and (max-width: 885px) {
    body { margin: 15px; }
    h2,
    .large-type { font-size: 60px; }
    .container { padding: 52px 44px; }
  }

  @media only screen and (max-width: 720px) {
    h2,
    .large-type { font-size: 50px; }
  }

  @media only screen and (max-width: 585px) {
    body { margin: 30; }
    h2,
    .large-type { font-size: 40px; }
  }

  @media only screen and (max-width: 475px) {
    body { font-size: 13px; }
    h2,
    .large-type {
      font-size: 30px;
      line-height: 1.1;
    }
  }

  /* old */
      .text {
          margin-top: 60px;
          font-size: 16px;
          font-weight: 400;
          line-height: 20px;
          animation: fadein 1s;
      }

      .description {
          animation: fadein 1s;
          text-align: center;
          }


      .moreLink a {
          color: white;
          font-weight: bold;
      }

      .moreLink a:hover {
          color: #ccc;
      }

      .items {
          white-space: nowrap;
          margin-top: 50px;
          margin-left: 40px;
          margin-bottom: 25px;
          line-height: 21px;
          text-align: center;
      }

          /* --- chunk --- */

          .chunk {
              width: auto;
              margin-bottom: 40px;
          animation: fadein 1.5s;
          }

          .chunkLeft {
              vertical-align: top;
              display: inline-block;
              width: 110px;
              text-align: right;
              padding-right: 10px;
              font-weight: 600;
          }

          .chunkRight {
              display: inline-block;
              padding-left: 13px;
              border-left: 1px solid #666;
              vertical-align: top;
          }

          .chunk a {
              color: #bbb;
          }

          .chunk a:hover {
              color: #fff;
          }

      @media only screen and (max-width: 475px) {
          .text {
              margin-top: 30px;
            }

              .items {
              margin-top: 40px;
              margin-left: 0px;
              }

              .chunkLeft {
                  display: block;
                  text-align: left;
                  width: auto;
              }

              .chunkRight {
                  margin-top: 10px;
              padding-left: 10px;
                  width: auto;
                  white-space: normal;
                  border-left: 2px solid #555;

              }

              .wrapper {
                  display: inline-block;
                  border: 0px solid #f00;
                  white-space: normal;
              }

              .container {
                  margin-top: 0px;
                  padding-top: 0px;
              }

              .topSpace {
                  margin-top: 0px;
                  padding-top: 50px;
              }

              .leftSpace {
                  margin-left: 0px;
                  padding-left: 20px;
              }
          }
